.blog-footer{
	// position: absolute;
	margin-top: 0;
	bottom: 0;
	width: 100%;
	margin-left: auto;
    margin-right: auto;

	// outline: 1px solid #fff;
    // outline-offset: -10px;
}

.mobile-footer{
	display: none;

	@include constrain($med){
		display: contents;
	}
}