.home-hero{
	// background-color: $background;
	position: relative;
	// padding: 32px;
	
	border: 2px solid $background;
	border-radius: 3px;
	// border-radius: 50px;
	// outline: 1px solid $background;
    // outline-offset: -10px;

	.header-title{
		background-color: $background;
		padding: 16px;
	}
}

.home-logo{
	margin: auto;
	
	img{
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.skill-container{
	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	justify-content: space-around;

	::selection{
		background-color:$lavender;
		//color:blanchedalmond;
		color:black;
	}

	.skill-box{
		width: 300px;
		height: 300px;
		
		padding: 16px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		position:relative;

		//rounded corners, kind of like cards
		border-radius: 3px;
		border: 2px solid $background;
		background: $background;

		.skill-header{
			display: flex;
			gap: 16px;
			align-self: center;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
	}
}

.go-to-bottom{
	//display: block;
	position: absolute;
	bottom: 0;
}