@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

::selection {
	background-color:$background;
	//color:blanchedalmond;
	color:white;
}

// https://stackoverflow.com/questions/7049875/why-doesnt-height-100-work-to-expand-divs-to-the-screen-height
* { padding: 0; margin: 0; box-sizing: border-box; }
html, body {
	min-height: 100% !important;
    height: 100%;
}
body {
  //padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'HK Grotesk', sans-serif;
}

body, * {
	font-family: 'HK Grotesk', sans-serif;
}

a {
  color:$link_col;
}

.main-page{
	
}

.main-content{
	margin-left: 320px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//padding: 1px 16px;

	transition: margin-left .5s;

	.main-content-inner{

		padding: 32px 64px;

	}

	@include constrain($med){
		.main-content-inner{
			padding: 32px;
		}
		margin-left: 0;
	}

	@include constrain($small){
		.main-content-inner{
			padding: 8px;
		}
	}

}

//rounded box with black outline
.rounded-white{
	background-color: white;
	border-radius: 10px;
	border: 3px solid $background;

	@include constrain($small){
		border-style: none;
	}
}

.rounded-black{
	background-color: $background;
	outline: 1px solid #fff;
    outline-offset: -10px;
}

.tag{
	padding: 3px;
	cursor: default;
	&:hover{
		background-color:$lavender;
	}
}

.col{
	// height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.row{
	width: 100%;
	display: flex;
	gap: 16px;
}

.text-white{
	color: white;
}

.text-center{
	text-align: center;
}

.desktop{
	display: block;
	@include constrain($med){
		display: none;
	}
}

.tablet{
	display: none;
	@include constrain($med){
		display: none;
	}
}

.mobile{
	display: none;
	@include constrain($small){
		display: block;
	}
}

.mobile-nav{
	display: none;
	@include constrain($med){
		display: block;
	}
}

.inline-mobile-nav{
	display: none;
	@include constrain($med){
		display: inline-block;
	}
}

.card{
	padding: 16px;
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container{
	padding: 32px;
}

.btn{
	padding: 16px;
	border: 1px solid $background;
	border-radius: 6px;
	text-decoration: none;
	color: $background;
	background-color: white;
	display:inline-block;
	transition: 0.3s;
	cursor: pointer;
}

.btn:hover{
	background-color: $background;
  	color: white;
}

.scroll-to-top{
	display: flex;
	justify-content: center;
	padding: 8px;
}

.outline-circle{
	border: 1px solid currentColor;
	padding: 8px;
	border-radius: 50%;
}

.text-danger{
	color: #e43a3a;
}