/* Error: Undefined mixin.
 *     ,
 * 125 | /         @include constrain_inv($small){
 * 126 | |             display:none;
 * 127 | \         }
 *     '
 *   src\scss\components\sidebar.scss 125:3  @import
 *   src\scss\index.scss 5:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 125 \2502  \250c          @include constrain_inv($small){\a 126 \2502  \2502              display:none;\a 127 \2502  \2514          }\a     \2575 \a   src\\scss\\components\\sidebar.scss 125:3  @import\a   src\\scss\\index.scss 5:9                 root stylesheet";
}
